.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 1%;

    padding-top: 2%;

    justify-content: center;
    justify-items: center;
   

  }
  
.fighterA {
  grid-column-start: 1;
  grid-column-end: 2;

  border: 1px solid black;
  
}
.battleground { 

  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  border: 1px solid black;
  justify-items: center;
  justify-self: stretch;

  
  background-color: white;
  
}

.moveImage {
  width: 400px;
  height: 400px;
  justify-content: center;
  justify-self: center;
  -webkit-animation:spin 4s linear;
    -moz-animation:spin 4s linear;
    animation:spin 4s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fighterB {
  grid-column-start: 3;
  grid-column-end: 4;


  border: 1px solid black;
 
}