.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 1%;
  }
  
.fighterA {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: aqua;

  border: 1px solid black;
  margin: 1%;
}
.battleground { 
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-start: 2;
  grid-column-end: 3;

  border: 1px solid black;
  margin: 1%;
}
.fighterB {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: aqua;

  border: 1px solid black;
  margin: 1%;
}