.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 1%;

  }
  
.fighterA {
  grid-column-start: 1;
  grid-column-end: 2;

  border: 1px solid black;
  margin: 1%;
}
.battleground { 
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  border: 1px solid black;
  margin: 1%;
}
.fighterB {
  grid-column-start: 3;
  grid-column-end: 4;

  border: 1px solid black;
  margin: 1%;
}